/* .Header{
    max-height: 80px;
    max-width: 1440px;
    color: white;
    border-bottom: 1px;
    border-color: white;
    margin: 0 auto -80px;
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header_white{
    color: black;
    border-color: black;
    background-color: white;
}

.header__logo{
    font-family: 'roboto-slab';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
} */